@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
body h1, body h2, body h3, body h4, body h5, body h6, body ol, body p, body li {
  margin-top: 5px;
}

body h1, body h2, body h3, body h4, body h5, body h6, body ol, body p, body li {
  margin-bottom: 15px;
}

body h1, body h2, body h3, body h4, body h5, body h6, body ol, body p, body li {
  font-family: 'Libre Baskerville', serif;
  font-size: 300 px;
  font-weight: bold;
}

#Manager {
  color: blanchedalmond;
  font-style: bold;
}

#Coordinador {
  color: blanchedalmond;
  font-style: bold;
}

#Diseñador {
  color: blanchedalmond;
  font-style: bold;
}

.portafolio {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.galeria-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: blanchedalmond;
}

.imagen-port:hover .hover-galeria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 780px) {
  #staff {
    background-color: #260801;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 780px) {
  #staff {
    background-color: #25479E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #staff li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.row > div {
  padding: 20px;
  background-color: darkblue;
  border: 2px solid black;
}
/*# sourceMappingURL=styles.css.map */